In [1]:
import subprocess
import pandas as pd
import numpy as np

In [2]:
def score(s, subject):
    out = ""
    index = s.find(subject)
    
    if subject == "\r\n                Văn":
        step = 23
    elif subject == "To&#225;n":
        step = 11
    elif subject == "Ngoại Ngữ":
        step = 11
    elif subject == "M&#244;n Chuy&#234;n":
        step = 22
        
    for i in range(4):
        if s[index+step+i] == ",":
            out = out + "."
        elif s[index+step+i] != " ":
            out = out + s[index+step+i]
        else:   
            break
        
    return out.rstrip()

In [3]:
# Trùng với tên thí sinh họ Văn
list_subject = ["\r\n                Văn", "To&#225;n", "Ngoại Ngữ", "M&#244;n Chuy&#234;n"]

In [4]:
def get_name(s, sbd):
    if sbd < 10000:
        index = s.find(str(sbd)) + 5
    elif sbd < 100000:
        index = s.find(str(sbd)) + 6
    else:
        index = s.find(str(sbd)) + 7
    out = ""
    while(s[index] != "\r"):
        out += s[index]
        index += 1
    
    return out.rstrip()

In [5]:
output = {"sbd" : [],
          "name" : [],
          "\r\n                Văn" : [],
          "To&#225;n" : [],
          "Ngoại Ngữ" : [],
          "M&#244;n Chuy&#234;n" : []}

In [6]:
%%time
for i in range(100000, 100010):
    result = subprocess.check_output(f'curl -F "sobaodanh={i}" https://diemthi.hcm.edu.vn/Home/Show')
    s = result.decode('utf-8')
    
    output["sbd"].append(i)
    output["name"].append(get_name(s, i))
    
    for subject in list_subject:
        output[subject].append(score(s, subject))

CPU times: total: 375 ms
Wall time: 2h 42min 46s

In [7]:
df = pd.DataFrame(output)
df.head()

,sbd,name,\r\n Văn,To&#225;n,Ngoại Ngữ,M&#244;n Chuy&#234;n
0,9000,LƯƠNG THỊ THU&#221; AN,6.5,5,8.25,2.5
1,9001,PHẠM B&#217;I MINH AN,,,,
2,9002,L&#202; TUẤN ANH,,,,
3,9003,MAI TRẦN HO&#192;N ANH,,,,
4,9004,NGUYỄN V&#194;N ANH,6.5,5.75,7.75,1.75

In [8]:
df.to_csv("file_out.csv")